:root {
    --clr-body: hsl(200, 10%, 88%);
    --clr-primary: hsl(0, 0%, 100%);
    --clr-secondary: hsl(0, 0%, 96%);
    --clr-tertiary: hsl(0, 0%, 92%);
    --clr-text-light: hsl(0, 0%, 100%);
    --clr-text-dark: hsl(0, 0%, 10%);
    --clr-overlay: hsla(0, 0%, 10%, 0.75);
    --clr-shadow-primary: hsl(0, 0%, 0%, 0.1);
    --clr-shadow-primary: hsl(0, 0%, 0%, 0.05);
}