@use "../functions/animations" as animations-functions;
@use "../settings/animations";
@use "../settings/variables";
@use "sass:math";
@use "sass:map";
@use "sass:meta";

@mixin set-animation($animation, $duration: variables.$def-animation-duration) {
    $animation-duration: animations-functions.parse-animation-duration(
        $duration
    );
    @if (map.has-key(animations.$animations-map, $animation) == false) {
        animation: $animation $animation-duration ease-out;
    } @else {
        $animation-map: map.get(animations.$animations-map, $animation);
        $animation-name: $animation;
        $animation-direction: normal;
        $animation-fill-mode: none;
        $animation-iteration-count: 1;
        $animation-timing-function: variables.$def-animation-timing-function;

        @if (map.has-key($animation-map, direction)) {
            $animation-direction: map.get($animation-map, direction);
        }

        @if (map.has-key($animation-map, fill-mode)) {
            $animation-fill-mode: map.get($animation-map, fill-mode);
        }

        @if (map.has-key($animation-map, iteration-count)) {
            $animation-iteration-count: map.get(
                $animation-map,
                iteration-count
            );
        }

        @if (map.has-key($animation-map, keyframes)) {
            $animation-name: map.get($animation-map, keyframes);
        }

        @if (map.has-key($animation-map, timing-function)) {
            $animation-timing-function: map.get(
                $animation-map,
                timing-function
            );
        }

        animation: $animation-name
            $animation-direction
            $animation-duration
            $animation-fill-mode
            $animation-iteration-count
            $animation-timing-function;
    }
}

@mixin set-vue-transition-hooks(
    $keyframe,
    $duration: variables.$def-animation-duration,
    $add-fade: true
) {
    $animation-duration: animations-functions.parse-animation-duration(
        $duration
    );

    @if ($add-fade == true) {
        &-enter-active {
            animation: fade $animation-duration ease-out,
                $keyframe $animation-duration ease-out;
        }

        &-leave-active {
            animation: fade $animation-duration reverse ease-out,
                $keyframe $animation-duration reverse ease-out;
        }
    } @else {
        &-enter-active {
            animation: $keyframe $animation-duration ease-out;
        }

        &-leave-active {
            animation: $keyframe $animation-duration reverse ease-out;
        }
    }
}
