@use "../mixins/animations" as animations-mixins;
@use "../settings/animations";

.ani {
    @each $animation, $animation-settings in animations.$animations-map {
        &-#{$animation} {
            @include animations-mixins.set-animation($animation);
        }
    }

    @for $i from 1 through 5 {
        &-duration-#{$i} {
            animation-duration: var(--duration-#{$i});
        }
    }

    &-infinite {
        animation-iteration-count: infinite;
    }

    &-alternate {
        animation-direction: alternate;
    }
}
