.ovf {
    overflow: auto;

    @each $overflow in auto, hidden, scroll {
        &-#{$overflow} {
            overflow: $overflow;
        }

        @each $axis in x, y {
            &-#{$axis} {
                overflow-#{$axis}: $overflow;
            }
        }

        &-wrapper-x-#{$overflow} {
            overflow-x: $overflow;
            white-space: nowrap;
        }

        &-wrapper-y-#{$overflow} {
            overflow-y: $overflow;
        }
    }

    &-text {
        &-clip {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: clip;
        }

        &-ellipsis {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            @for $i from 1 through 5 {
                &-#{$i} {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: $i;
                    overflow: hidden;
                }
            }
        }
    }
}
