@use "../mixins/style";
@use "../mixins/theme";
@use "../settings/defaults";
@use "sass:string";

@include theme.create-color-helper-classes();
@include theme.create-color-palette-classes(main);

:where(.box) {
    @include style.border();
    transition: all var(--duration-#{defaults.$ANIMATION-DURATION})
        defaults.$ANIMATION-TIMING-FUNCTION;
    border-radius: var(--border-radius);
    padding: var(--space-sm);
    background-color: var(--clr-primary);
    color: var(--clr-primary-text);
}
