@use "../functions/theme";
@use "../settings/variables";
@use "sass:string";

@each $shade in primary, secondary, tertiary {
    .bkg-#{$shade} {
        background-color: var(--clr-#{$shade}) !important;
        color: var(--clr-#{$shade}-text) !important;

        &.hlg-hover:hover {
            background-color: var(--clr-#{$shade}-lighter) !important;
        }
    }
}

:where(.box) {
    transition: all var(--duration-#{variables.$def-animation-duration}) ease;
    border: theme.get-border();
    border-radius: var(--border-radius);
    padding: var(--space-sm);
    background-color: var(--clr-primary);
    color: var(--clr-text);
}

.brd {
    border: theme.get-border();

    &-none {
        border: none;
    }

    &-round {
        border-radius: var(--border-radius);
    }

    &-square {
        border-radius: 0;
    }

    @each $coordinate in left, right, top, bottom {
        &-#{$coordinate} {
            border-#{$coordinate}: theme.get-border();
        }
    }
}

.bsh {
    box-shadow: theme.get-box-shadow();

    &-hover:hover {
        box-shadow: theme.get-box-shadow();
    }
}

.grd {
    @each $shade in primary, secondary, tertiary {
        &-#{$shade} {
            background-image: theme.get-linear-gradient($shade);
            color: var(--clr-#{$shade}-text);
        }
    }
}
