@use "../mixins/style";
@use "../settings/defaults";
@use "sass:string";

@each $shade in defaults.$SHADES {
    .bkg-#{$shade} {
        background-color: var(--clr-#{$shade}) !important;
        color: var(--clr-#{$shade}-text) !important;

        &.hlg-hover:hover {
            background-color: var(--clr-#{$shade}-lighter) !important;
        }
    }
}

:where(.box) {
    @include style.border();
    transition: all var(--duration-#{defaults.$ANIMATION-DURATION})
        defaults.$ANIMATION-TIMING-FUNCTION;
    border-radius: var(--border-radius);
    padding: var(--space-sm);
    background-color: var(--clr-primary);
    color: var(--clr-text);
}

.brd {
    @include style.border();

    &-none {
        border: none;
    }

    &-round {
        border-radius: var(--border-radius);
    }

    &-square {
        border-radius: 0;
    }

    @each $coordinate in left, right, top, bottom {
        &-#{$coordinate} {
            @include style.border(null, $coordinate);
        }
    }
}

.bsh {
    @include style.box-shadow();

    &-hover:hover {
        @include style.box-shadow();
    }
}

.grd {
    @each $shade in defaults.$SHADES {
        &-#{$shade} {
            @include style.gradient();
        }
    }
}
