$networks: (
    amazon: (
        primary: hsl(36, 100%, 50%),
        secondary: hsl(0, 0%, 95%),
        tertiary: hsl(207, 100%, 65%),
    ),
    facebook: (
        primary: hsl(214, 89%, 52%),
        secondary: hsl(0, 0%, 100%),
        tertiary: hsl(0, 0%, 92%),
    ),
    instagram: (
        primary: hsl(340, 75%, 54%),
        secondary: hsl(276, 51%, 47%),
        tertiary: hsl(20, 92%, 59%),
    ),
    spotify: (
        primary: hsl(141, 73%, 42%),
        secondary: hsl(0, 11%, 9%),
        tertiary: hsl(0, 0%, 100%),
    ),
    tiktok: (
        primary: hsl(184, 52%, 61%),
        secondary: hsl(345, 86%, 52%),
        tertiary: hsl(0, 0%, 0%),
    ),
    twitch: (
        primary: hsl(264, 100%, 64%),
        secondary: hsl(0, 0%, 100%),
        tertiary: hsl(0, 100%, 40%),
    ),
    twitter: (
        primary: hsl(203, 89%, 53%),
        secondary: hsl(204, 33%, 97%),
        tertiary: hsl(205, 25%, 91%),
    ),
    whatsapp: (
        primary: hsl(142, 70%, 49%),
        secondary: hsl(173, 77%, 31%),
        tertiary: hsl(0, 0%, 95%),
    ),
    youtube: (
        primary: hsl(0, 100%, 50%),
        secondary: hsl(0, 0%, 100%),
        tertiary: hsl(0, 0%, 16%),
    ),
);
