@use "sass:math";
@use "sass:meta";

@function strip-unit($number) {
    @if (meta.type-of($number) == number and not math.is-unitless($number)) {
        @return math.div($number, $number * 0 + 1);
    }
    @return $number;
}

@function get-em-from-px($number) {
    $n: strip-unit($number);
    @return math.div($n, 16) * 1em;
}

@function get-alignement-value($coordinate, $display-value) {
    $value-prefix: "";
    @if ($display-value == flex) {
        $value-prefix: flex-;
    }

    @if ($coordinate == left or $coordinate == top) {
        @return #{$value-prefix}start;
    } @else if ($coordinate == right or $coordinate == bottom) {
        @return #{$value-prefix}end;
    } @else if ($coordinate == center) {
        @return center;
    } @else {
        @return initial;
    }
}

@function get-scale-factor($perspective, $distance) {
    @return math.div(($perspective - $distance), $perspective);
}
