@use "sass:color";
@use "sass:meta";
@use "sass:string";

@function check-color($color) {
    @if (meta.type-of($color) != color) {
        @error "Invalid color provided:" $color;
    }
    @return $color;
}

@function get-color-luminance($color) {
    $color: check-color($color);

    $red: color.red($color) * 0.299;
    $green: color.green($color) * 0.587;
    $blue: color.blue($color) * 0.114;

    @return $red + $green + $blue;
}

@function is-color-dark($color) {
    $color: check-color($color);

    $luminance: get-color-luminance($color);
    @if ($luminance > 130) {
        @return false;
    } @else {
        @return true;
    }
}

@function string-contains-shade-name($string) {
    @each $shade in defaults.$SHADES {
        @if (string.index($string, $shade)) {
            @return true;
        }
    }
    @return false;
}
