@use "../functions/theme";
@use "../mixins/style";
@use "../settings/defaults";
@use "sass:color";
@use "sass:map";
@use "sass:meta";

@mixin set-color-palette($palette-name, $palette-map) {
    @if (meta.type-of($palette-map) != map) {
        @error "Palette-map must be a sass map";
    }
    @each $shade in defaults.$SHADES {
        $color: map.get($palette-map, $shade);
        @if (meta.type-of($color) != color) {
            @error "Invalid color provided:" $color;
        }

        $delta-light: color.scale($color, $lightness: defaults.$SHADES-DELTA);
        $delta-dark: color.scale(
            $color,
            $lightness: defaults.$SHADES-DELTA * -1
        );
        $text: var(--clr-text-dark);
        @if (theme.is-color-dark($color) == true) {
            $text: var(--clr-text-light);
        }

        --clr-#{$palette-name}-#{$shade}: #{$color};
        --clr-#{$palette-name}-#{$shade}-lighter: #{$delta-light};
        --clr-#{$palette-name}-#{$shade}-darker: #{$delta-dark};
        --clr-#{$palette-name}-#{$shade}-text: #{$text};
    }

    $overlay: color.change(
        map.get($palette-map, defaults.$OVERLAY-SHADE),
        $alpha: defaults.$OVERLAY-ALPHA
    );
    $border: map.get($palette-map, defaults.$BORDER-SHADE);
    $shadow-primary: color.change(
        map.get($palette-map, defaults.$SHADOW-SHADE),
        $alpha: defaults.$SHADOW-PRIMARY-ALPHA
    );
    $shadow-secondary: color.change(
        map.get($palette-map, defaults.$SHADOW-SHADE),
        $alpha: defaults.$SHADOW-SECONDARY-ALPHA
    );

    --clr-#{$palette-name}-border: #{$border};
    --clr-#{$palette-name}-overlay: #{$overlay};
    --clr-#{$palette-name}-shadow-primary: #{$shadow-primary};
    --clr-#{$palette-name}-shadow-secondary: #{$shadow-secondary};
}

@mixin set-general-palette($palette) {
    @each $shade in defaults.$SHADES {
        --clr-#{$shade}: var(--clr-#{$palette}-#{$shade});
        --clr-#{$shade}-lighter: var(--clr-#{$palette}-#{$shade}-lighter);
        --clr-#{$shade}-darker: var(--clr-#{$palette}-#{$shade}-darker);
        --clr-#{$shade}-text: var(--clr-#{$palette}-#{$shade}-text);
    }
    @each $id in border, overlay, shadow-primary, shadow-secondary {
        --clr-#{$id}: var(--clr-#{$palette}-#{$id});
    }
}

@mixin create-color-palette-classes($palette) {
    @each $shade in defaults.$SHADES {
        .bkg-#{$palette}-#{$shade} {
            background-color: var(--clr-#{$palette}-#{$shade});
            color: var(--clr-#{$palette}-#{$shade}-text);
        }

        .brd-#{$palette}-#{$shade} {
            border-color: var(--clr-#{$palette}-#{$shade});
        }

        .bsh-#{$palette}-#{$shade} {
            @include style.box-shadow($palette);

            &-hover:hover {
                @include style.box-shadow($palette);
            }
        }

        .clr-#{$palette}-#{$shade} {
            color: var(--clr-#{$palette}-#{$shade});
        }

        .grd-#{$palette}-#{$shade} {
            @include style.gradient($palette, linear);
        }
    }

    .pal-#{$palette} {
        @include set-general-palette($palette);
    }
}
