@use "../functions/calc";

:root {
    --border-radius: 0.5rem;

    --distance-xs: 10%;
    --distance-sm: 20%;
    --distance-md: 30%;
    --distance-lg: 40%;
    --distance-xl: 50%;

    --duration-xs: 0.2s;
    --duration-sm: 0.33s;
    --duration-md: 0.5s;
    --duration-lg: 1s;
    --duration-xl: 2s;

    --ff-input: monospace;
    --ff-main: sans-serif;
    --ff-title: serif;
    --ff-jumbo: sans-serif;

    --fs-xs: 1rem;
    --fs-sm: 1.5rem;
    --fs-md: 2rem;
    --fs-lg: 4rem;
    --fs-xl: 6rem;

    --responsive-fs-xs: #{calc.get-em-from-px(10px)};
    --responsive-fs-sm: #{calc.get-em-from-px(11px)};
    --responsive-fs-md: #{calc.get-em-from-px(12px)};
    --responsive-fs-lg: #{calc.get-em-from-px(13px)};
    --responsive-fs-xl: max(#{calc.get-em-from-px(14px)}, 0.4vw);
    --responsive-fs-fluid: 1;

    --size-xs: 12rem;
    --size-sm: 24rem;
    --size-md: 48rem;
    --size-lg: 84rem;
    --size-xl: 144rem;
    --size-content: 120rem;

    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 3rem;
    --space-xl: 6rem;
}
